In [1]:
import pandas as pd
import requests
import time
from bs4 import BeautifulSoup as bs
import numpy as np

In [2]:
def scrape_reviews():
    review_date = []
    review_text = []
    ratings = []
    
    base_url = "https://www.consumeraffairs.com/automotive/toyota-camry.html"

    for i in range(1,14): # fetching reviews from thirteen pages
        current_url = f"{base_url}?page={i}"
        data = requests.get(current_url)
        soup = bs(data.text, 'html.parser')
        all_reviews = soup.find_all('div', {'class': 'rvw js-rvw'}) #all reviews on ith page
        for review in all_reviews:
            rvw_data = review.find('div', {'class': 'rvw-bd'}).find('span').getText().replace('Original review: ', '')
            review_date.append(rvw_data)
            # review_body = review.find('p').getText()
            review_body = review.find('div', {'class': 'rvw-bd'}).find('p').getText()
            review_text.append(review_body)
        
            img = review.find('div', {'class': 'rvw__hdr'}).find('img')
            if img:
                rating = img.get('data-rating')
            else:
                rating = np.nan
            ratings.append(rating) 
        
        time.sleep(1) #delay for 1 second before going to next page
    
    data_dict = {'date': review_date, 'review_text': review_text, 'star_rating': ratings}
    return pd.DataFrame(data_dict)

#calling the function
ReviewDf = scrape_reviews()
ReviewDf

,date,review_text,star_rating
0,"June 24, 2022","Apparently, even the customers who got letters...",1.0
1,"April 12, 2022",Bought a car from Bosak in Indiana. Wanted to ...,1.0
2,"March 8, 2022",My experience with the 2016 Toyota Camry has b...,5.0
3,"Dec. 18, 2021",In 2020 I have stopped for a snack in Northern...,1.0
4,"Nov. 19, 2021",Monitor your oil! Most specials only add five ...,3.0
...,...,...,...
358,"June 17, 2008",Paint job on 2007 Camry is beyond poor. My ...,NaN
359,"May 14, 2008",i bought a new toyota camry 3 month ago and...,NaN
360,"May 9, 2008","I have a 2003 Camry 4 cyc 72,000mi having p...",NaN
361,"May 1, 2007",The engine and transmission in my new 07 Camry...,NaN
362,"Jan. 31, 2007","My son drives my car Toyota Camry 1994, LE 4 c...",NaN

In [3]:
ReviewDf.to_csv('toyota_data.csv', index = False)

In [4]:
def scrape_reviews():
    review_date = []
    review_text = []
    ratings = []
    
    base_url = "https://www.consumeraffairs.com/automotive/chevrolet.html"

    for i in range(1,10): # fetching reviews from nine pages
        current_url = f"{base_url}?page={i}"
        data = requests.get(current_url)
        soup = bs(data.text, 'html.parser')
        all_reviews = soup.find_all('div', {'class': 'rvw js-rvw'}) #all reviews on ith page
        for review in all_reviews:
            rvw_data = review.find('div', {'class': 'rvw-bd'}).find('span').getText().replace('Original review: ', '')
            review_date.append(rvw_data)
            # review_body = review.find('p').getText()
            review_body = review.find('div', {'class': 'rvw-bd'}).find('p').getText()
            review_text.append(review_body)
        
            img = review.find('div', {'class': 'rvw__hdr'}).find('img')
            if img:
                rating = img.get('data-rating')
            else:
                rating = np.nan
            ratings.append(rating) 
        
        time.sleep(1) #delay for 1 second before going to next page
    
    data_dict = {'date': review_date, 'review_text': review_text, 'star_rating': ratings}
    return pd.DataFrame(data_dict)

#calling the function
ReviewDf = scrape_reviews()
ReviewDf

,date,review_text,star_rating
0,"Sept. 4, 2022",My son & I went in to Victorville Chevrolet Ca...,1.0
1,"Aug. 4, 2022","In March of 2022, I had my 2019 Chevy Traverse...",1.0
2,"May 31, 2022",This truck and the local dealer. Covert in Hut...,1.0
3,"April 13, 2022",I have a 2016 Chevrolet Tahoe LTZ. It has righ...,1.0
4,"Feb. 17, 2022",The battery is located in the trunk of the car...,3.0
...,...,...,...
234,"Dec. 1, 2016",Like most auto manufacturers Chevy has lowered...,3.0
235,"Nov. 25, 2016",For the most part it's been a good car but we ...,3.0
236,"Nov. 24, 2016",No vehicle is completely wonderful. But with t...,4.0
237,"Nov. 19, 2016","My C7 is a wonderful car to drive, but it seem...",1.0
238,"Sept. 1, 2016",Until everything started going wrong with this...,1.0

In [5]:
ReviewDf.to_csv('chevrolet_data.csv', index = False)

In [6]:
def scrape_reviews():
    review_date = []
    review_text = []
    ratings = []
    
    base_url = "https://www.consumeraffairs.com/automotive/mitsubishi.html"

    for i in range(1,9): # fetching reviews from eight pages
        current_url = f"{base_url}?page={i}"
        data = requests.get(current_url)
        soup = bs(data.text, 'html.parser')
        all_reviews = soup.find_all('div', {'class': 'rvw js-rvw'}) #all reviews on ith page
        for review in all_reviews:
            rvw_data = review.find('div', {'class': 'rvw-bd'}).find('span').getText().replace('Original review: ', '')
            review_date.append(rvw_data)
            # review_body = review.find('p').getText()
            review_body = review.find('div', {'class': 'rvw-bd'}).find('p').getText()
            review_text.append(review_body)
        
            img = review.find('div', {'class': 'rvw__hdr'}).find('img')
            if img:
                rating = img.get('data-rating')
            else:
                rating = np.nan
            ratings.append(rating) 
        
        time.sleep(1) #delay for 1 second before going to next page
    
    data_dict = {'date': review_date, 'review_text': review_text, 'star_rating': ratings}
    return pd.DataFrame(data_dict)

#calling the function
ReviewDf = scrape_reviews()
ReviewDf

,date,review_text,star_rating
0,"June 27, 2022","I bought a brand new OUTLANDER 2022, in less t...",1.0
1,"June 23, 2022",We bought a brand new Mitsubishi Outlander las...,1.0
2,"Dec. 8, 2021",I am having a problem with my brand new 2022 M...,1.0
3,"Nov. 12, 2021",22 months into covid and the only adaption mad...,1.0
4,"April 29, 2021",Having this extended warranty saved me so much...,5.0
...,...,...,...
203,"Feb. 21, 2003",The clear coat on my 1994 Mitsubishi Galant ha...,NaN
204,"March 3, 2002",I purchased a 1996 Mitsubishi Gallant from Ric...,NaN
205,"Dec. 30, 2001",I took my Mitsu convertible (2001 Ecplise Spyd...,NaN
206,"Nov. 5, 2001","I purchased a car in October of 96, a 1997 Mit...",NaN
207,"Feb. 22, 2001",I was involved in a head-on collision. I was ...,NaN

In [7]:
ReviewDf.to_csv('mitsubishi_data.csv', index = False)

In [8]:
#merging dataframes

dataFrame = pd.concat(map(pd.read_csv, ['toyota_data.csv', 'chevrolet_data.csv', 'mitsubishi_data.csv', ]), ignore_index = True)
dataFrame

,date,review_text,star_rating
0,"June 24, 2022","Apparently, even the customers who got letters...",1.0
1,"April 12, 2022",Bought a car from Bosak in Indiana. Wanted to ...,1.0
2,"March 8, 2022",My experience with the 2016 Toyota Camry has b...,5.0
3,"Dec. 18, 2021",In 2020 I have stopped for a snack in Northern...,1.0
4,"Nov. 19, 2021",Monitor your oil! Most specials only add five ...,3.0
...,...,...,...
805,"Feb. 21, 2003",The clear coat on my 1994 Mitsubishi Galant ha...,NaN
806,"March 3, 2002",I purchased a 1996 Mitsubishi Gallant from Ric...,NaN
807,"Dec. 30, 2001",I took my Mitsu convertible (2001 Ecplise Spyd...,NaN
808,"Nov. 5, 2001","I purchased a car in October of 96, a 1997 Mit...",NaN
809,"Feb. 22, 2001",I was involved in a head-on collision. I was ...,NaN

In [11]:
dataFrame.head()

,date,review_text,star_rating
0,"June 24, 2022","Apparently, even the customers who got letters...",1.0
1,"April 12, 2022",Bought a car from Bosak in Indiana. Wanted to ...,1.0
2,"March 8, 2022",My experience with the 2016 Toyota Camry has b...,5.0
3,"Dec. 18, 2021",In 2020 I have stopped for a snack in Northern...,1.0
4,"Nov. 19, 2021",Monitor your oil! Most specials only add five ...,3.0

In [12]:
dataFrame.tail()

,date,review_text,star_rating
805,"Feb. 21, 2003",The clear coat on my 1994 Mitsubishi Galant ha...,NaN
806,"March 3, 2002",I purchased a 1996 Mitsubishi Gallant from Ric...,NaN
807,"Dec. 30, 2001",I took my Mitsu convertible (2001 Ecplise Spyd...,NaN
808,"Nov. 5, 2001","I purchased a car in October of 96, a 1997 Mit...",NaN
809,"Feb. 22, 2001",I was involved in a head-on collision. I was ...,NaN

In [13]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         810 non-null    object
 1   review_text  803 non-null    object
 2   star_rating  668 non-null    float64
dtypes: float64(1), object(2)
memory usage: 19.1+ KB

Observation:

There is quite a bit of missing values

In [16]:
#check for missing values
dataFrame.isnull().values.any()

True

In [17]:
#check for duplicate values
dataFrame.duplicated().value_counts()

False    809
True       1
dtype: int64

In [19]:
dataFrame.to_csv("dataFrame.csv", index=False)

In [22]:
pd.read_csv('dataFrame.csv')

,date,review_text,star_rating
0,"June 24, 2022","Apparently, even the customers who got letters...",1.0
1,"April 12, 2022",Bought a car from Bosak in Indiana. Wanted to ...,1.0
2,"March 8, 2022",My experience with the 2016 Toyota Camry has b...,5.0
3,"Dec. 18, 2021",In 2020 I have stopped for a snack in Northern...,1.0
4,"Nov. 19, 2021",Monitor your oil! Most specials only add five ...,3.0
...,...,...,...
805,"Feb. 21, 2003",The clear coat on my 1994 Mitsubishi Galant ha...,NaN
806,"March 3, 2002",I purchased a 1996 Mitsubishi Gallant from Ric...,NaN
807,"Dec. 30, 2001",I took my Mitsu convertible (2001 Ecplise Spyd...,NaN
808,"Nov. 5, 2001","I purchased a car in October of 96, a 1997 Mit...",NaN
809,"Feb. 22, 2001",I was involved in a head-on collision. I was ...,NaN